#btn{
  background-color: black;
  color: white;
  margin-top: 20px;
  height:40px;
  width: 80px;
  padding: 10px;
  border:1px solid red;
}
#search{
  width: 500px;
  height: 30px;
}
.kk{
  margin-left: 30px;
}